<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Game Recommender</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/game.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
    <script src="static/scripts/autocomplete.js"></script>
</head>
<body>

    <header>
        <nav class="navbar navbar-light" style="background-color: rgb(108,65,188);">
            <div class="d-flex flex-grow-1">
                <a href="/" class="navbar-brand neonText" style="color: white;">Game recommender</a>
                <form class="mr-2 my-auto w-100 d-inline-block order-1" action="content" method="post">
                    <div class="input-group">
                        <input id="form-autocomplete" type="text" data-provide="typeahead"
                               class="form-control typeahead"
                               placeholder="Type name game..." name="search" autocomplete="off">
                        <button class="btn btn-outline-success my-0 my-sm-0" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </nav>
    </header>

   <script>
       autocomplete();
   </script>

    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading neonText">It looks like you entered the game wrong or it is not listed.</h1>
          <p id = "demo" class="lead text-muted">Try again.</div>
      </section>
    </main>


    <footer class="text-muted tested">
      <div class="container neonText">
        <p>Copyright &copy; Sebastian Malon 2021</p>
      </div>
    </footer>

</body>
</html>