</head>
<body>




<div class="container">
    <h2 class="jumbotron-heading">Game recommender</h2>
    <div class="row mt-3">
            <form action = "http://localhost:5000/" method = "post">
                <input type="text" class="form-control, col-7" placeholder="Type your name game..." name="search">
                <button class="col-3" type="submit">CHECK</button>
            </form>
    </div>

    <div class="row">
        <h6><center>xddddddd</center></h6>
    </div>

</div>
</body>
</html>