:root {
  --jumbotron-padding-y: 3rem;
  background: rgb(24,9,48);
}

body
{
    background-color: rgb(24,9,48);
}


.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  color: black;
  height: 90%;
  background-color: rgb(24,9,48);
}

.form-control
{
    color: green;
    border-style: none;
    background-color: rgb(24,9,48);
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 350;
}

.jumbotron .container {
  max-width: 35rem;
  border: none;
}


footer {
  position: relative;
  margin-top: 0px; /* negative value of footer height */
  height: 50px;
  clear:both;
  padding-top:0px;
  text-align: center;
  background-image: linear-gradient(180deg, rgb(24,9,48), rgb(73,173,181));
}

.card
{
    background-color: rgb(24,9,48);
}

.tested
{
   font-size: 24px;
   color: white;
   text-align: center;
}

.neonText {
  color: white;
  text-shadow:
    0 0 5px white,
    0 0 10px white;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }